Entregable 1/FRED - Node-RED/OpenWeather/Ampliación/flows.json
[
    {
        "id": "af39779.ca47c88",
        "type": "tab",
        "label": "Extensión OpenWeather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4c58d6e6.5b91c8",
        "type": "ui_text_input",
        "z": "af39779.ca47c88",
        "name": "",
        "label": "NOMBRE DE LA CIUDAD:",
        "tooltip": "",
        "group": "99bd8601.432ec8",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "ecb99edc.0278d"
            ]
        ]
    },
    {
        "id": "8ed3a311.605a6",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------------- TIEMPO -------------- ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 930,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1c67051.75a8f",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------- CONTAMINACIÓN--------- ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 920,
        "y": 440,
        "wires": []
    },
    {
        "id": "ecb99edc.0278d",
        "type": "change",
        "z": "af39779.ca47c88",
        "name": "Nombre",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 420,
        "wires": [
            [
                "b31b84bd.cafb88"
            ]
        ]
    },
    {
        "id": "d898ace.a8d095",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura actual",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 100,
        "wires": [
            [
                "ae82a37a.5cca5"
            ]
        ]
    },
    {
        "id": "ae0d6060.83415",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Sensación térmica",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.feels_like - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 140,
        "wires": [
            [
                "8bd0c765.d31908"
            ]
        ]
    },
    {
        "id": "a5e0a531.3dd228",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura máxima",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp_max - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 180,
        "wires": [
            [
                "1b1152ef.269d6d"
            ]
        ]
    },
    {
        "id": "ee22c9cb.afefb8",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura mínima",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp_min - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 900,
        "y": 220,
        "wires": [
            [
                "2aef278c.741a08"
            ]
        ]
    },
    {
        "id": "69aa0845.66d8b8",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Nubes",
        "func": "var x = msg.payload\nmsg.payload = x.clouds.all + \" %\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 260,
        "wires": [
            [
                "87e1e6b2.f66e28"
            ]
        ]
    },
    {
        "id": "97d0add2.e83b4",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Cielo",
        "func": "var x = msg.payload\nmsg.payload = x.weather[0].description\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 300,
        "wires": [
            [
                "a982a009.6eec8"
            ]
        ]
    },
    {
        "id": "2c28175a.58a3d8",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Velocidad viento",
        "func": "var x = msg.payload\nmsg.payload = x.wind.speed + \" m/s\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 340,
        "wires": [
            [
                "25027217.9d44ee"
            ]
        ]
    },
    {
        "id": "ae82a37a.5cca5",
        "type": "ui_gauge",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "99bd8601.432ec8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-50",
        "max": "50",
        "colors": [
            "#479bf5",
            "#49f532",
            "#ff3300"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1110,
        "y": 100,
        "wires": []
    },
    {
        "id": "8bd0c765.d31908",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensación térmica:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1110,
        "y": 140,
        "wires": []
    },
    {
        "id": "1b1152ef.269d6d",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1120,
        "y": 180,
        "wires": []
    },
    {
        "id": "2aef278c.741a08",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1120,
        "y": 220,
        "wires": []
    },
    {
        "id": "87e1e6b2.f66e28",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nubes:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1080,
        "y": 260,
        "wires": []
    },
    {
        "id": "a982a009.6eec8",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cielo:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 300,
        "wires": []
    },
    {
        "id": "25027217.9d44ee",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Velocidad viento:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "556532b.b38c9cc",
        "type": "http request",
        "z": "af39779.ca47c88",
        "name": "Contaminación",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "d367ce07.7c253",
                "b37b6b3a.ff41e8",
                "c5ecdb29.ebfa18",
                "ac91a7b4.5fc808",
                "c220a156.f9b21",
                "44c5435a.f2637c",
                "41306e5c.d4ff9",
                "91f799af.44a858",
                "2bfe028b.7267fe",
                "ac13eb9c.da90c8",
                "ffb2bf04.73019"
            ]
        ]
    },
    {
        "id": "d367ce07.7c253",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "CO",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.co\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 480,
        "wires": [
            [
                "1575dd70.709ec3"
            ]
        ]
    },
    {
        "id": "1575dd70.709ec3",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 480,
        "wires": []
    },
    {
        "id": "9ca21fac.6db34",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NO:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 520,
        "wires": []
    },
    {
        "id": "787239ad.ca64e8",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NO2:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 560,
        "wires": []
    },
    {
        "id": "3940cfbb.e7f6c",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "O3:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "fc609f7a.a8335",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SO2:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "ce8f2817.8fa5c8",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM2.5:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1080,
        "y": 680,
        "wires": []
    },
    {
        "id": "578112cb.85f8ac",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM10:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 720,
        "wires": []
    },
    {
        "id": "344ea15b.4d5f7e",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "99bd8601.432ec8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NH3:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 1070,
        "y": 760,
        "wires": []
    },
    {
        "id": "b37b6b3a.ff41e8",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NO",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.no\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 520,
        "wires": [
            [
                "9ca21fac.6db34"
            ]
        ]
    },
    {
        "id": "c5ecdb29.ebfa18",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NO2",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.no2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 560,
        "wires": [
            [
                "787239ad.ca64e8"
            ]
        ]
    },
    {
        "id": "ac91a7b4.5fc808",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "O3",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.o3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 600,
        "wires": [
            [
                "3940cfbb.e7f6c"
            ]
        ]
    },
    {
        "id": "c220a156.f9b21",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "SO2",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.so2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 640,
        "wires": [
            [
                "fc609f7a.a8335"
            ]
        ]
    },
    {
        "id": "2bfe028b.7267fe",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "PM2.5",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.pm2_5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "ce8f2817.8fa5c8"
            ]
        ]
    },
    {
        "id": "44c5435a.f2637c",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "PM10",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.pm10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 720,
        "wires": [
            [
                "578112cb.85f8ac"
            ]
        ]
    },
    {
        "id": "41306e5c.d4ff9",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NH3",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.nh3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 850,
        "y": 760,
        "wires": [
            [
                "344ea15b.4d5f7e"
            ]
        ]
    },
    {
        "id": "56fd64da.4bab9c",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Convert coordenadas a lat y lon",
        "func": "var x = msg.payload;\nmsg.payload = \"http://api.openweathermap.org/data/2.5/air_pollution?lat=\"+x.coord.lat+\"&lon=\"+x.coord.lon+\"&appid=384f2fa075d5417379236dd8ac8cd8c2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "c6231ce2.78c8d"
            ]
        ]
    },
    {
        "id": "c6231ce2.78c8d",
        "type": "change",
        "z": "af39779.ca47c88",
        "name": "Nombre",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "556532b.b38c9cc"
            ]
        ]
    },
    {
        "id": "c6930e88.1ffb5",
        "type": "ui_chart",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "99bd8601.432ec8",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "Concentraciones",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fbff29",
            "#fdc221",
            "#e42301",
            "#fb2dc4",
            "#df38f5",
            "#8d38f5",
            "#0721e9",
            "#3cd5fb",
            "#4df587"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1110,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "91f799af.44a858",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Gráfica circular",
        "func": "var x = msg.payload;\nmsg.topic=\"CO\";\nmsg.payload=x.list[0].components.co;\nnode.send(msg);\nmsg.topic=\"NO\";\nmsg.payload=x.list[0].components.no;\nnode.send(msg);\nmsg.topic=\"NO2\";\nmsg.payload=x.list[0].components.no2;\nnode.send(msg);\nmsg.topic=\"O3\";\nmsg.payload=x.list[0].components.o3;\nnode.send(msg);\nmsg.topic=\"SO2\";\nmsg.payload=x.list[0].components.so2;\nnode.send(msg);\nmsg.topic=\"PM2.5\";\nmsg.payload=x.list[0].components.pm2_5;\nnode.send(msg);\nmsg.topic=\"PM10\";\nmsg.payload=x.list[0].components.pm10;\nnode.send(msg);\nmsg.topic=\"NH3\";\nmsg.payload=x.list[0].components.nh3;\nnode.send(msg);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 800,
        "wires": [
            [
                "c6930e88.1ffb5"
            ]
        ]
    },
    {
        "id": "6362df7b.7fb41",
        "type": "ui_text_input",
        "z": "af39779.ca47c88",
        "name": "",
        "label": "NOMBRE DE LA CIUDAD:",
        "tooltip": "",
        "group": "198ff189.c5300e",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "topicType": "msg",
        "x": 1500,
        "y": 400,
        "wires": [
            [
                "8198fea.68fa9"
            ]
        ]
    },
    {
        "id": "12011673.49b52a",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "-------------- TIEMPO -------------- ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2250,
        "y": 40,
        "wires": []
    },
    {
        "id": "5e726c5e.c4c954",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "--------- CONTAMINACIÓN---------",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2220,
        "y": 400,
        "wires": []
    },
    {
        "id": "a2d317dd.9dc498",
        "type": "http request",
        "z": "af39779.ca47c88",
        "name": "Coordenadas",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?q={{{query}}},ES&appid=384f2fa075d5417379236dd8ac8cd8c2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1860,
        "y": 400,
        "wires": [
            [
                "714b69b7.91fe58",
                "850123f9.22f1",
                "6a78db3c.fb5e04",
                "8cbfdec7.ffe36",
                "51fd996f.23e208",
                "6fb12366.7663cc",
                "8099297e.2a7f68",
                "8c9cc732.5dd178"
            ]
        ]
    },
    {
        "id": "8198fea.68fa9",
        "type": "change",
        "z": "af39779.ca47c88",
        "name": "Nombre",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 400,
        "wires": [
            [
                "a2d317dd.9dc498"
            ]
        ]
    },
    {
        "id": "714b69b7.91fe58",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura actual",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2190,
        "y": 80,
        "wires": [
            [
                "3d1375a5.38fc9a"
            ]
        ]
    },
    {
        "id": "850123f9.22f1",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Sensación térmica",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.feels_like - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2190,
        "y": 120,
        "wires": [
            [
                "bcc86c02.c813b"
            ]
        ]
    },
    {
        "id": "6a78db3c.fb5e04",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura máxima",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp_max - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2200,
        "y": 160,
        "wires": [
            [
                "72d66be6.a78e94"
            ]
        ]
    },
    {
        "id": "8cbfdec7.ffe36",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Temperatura mínima",
        "func": "var x = msg.payload\nmsg.payload = parseFloat(x.main.temp_min - 273).toFixed(2) + \" ºC\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2200,
        "y": 200,
        "wires": [
            [
                "a12c4cde.c32c"
            ]
        ]
    },
    {
        "id": "51fd996f.23e208",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Nubes",
        "func": "var x = msg.payload\nmsg.payload = x.clouds.all + \" %\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 240,
        "wires": [
            [
                "9f5aa299.a27e4"
            ]
        ]
    },
    {
        "id": "6fb12366.7663cc",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Cielo",
        "func": "var x = msg.payload\nmsg.payload = x.weather[0].description\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 280,
        "wires": [
            [
                "9dd12d13.e7b97"
            ]
        ]
    },
    {
        "id": "8099297e.2a7f68",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Velocidad viento",
        "func": "var x = msg.payload\nmsg.payload = x.wind.speed + \" m/s\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2180,
        "y": 320,
        "wires": [
            [
                "5157bb02.56b204"
            ]
        ]
    },
    {
        "id": "3d1375a5.38fc9a",
        "type": "ui_gauge",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "198ff189.c5300e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "ºC",
        "format": "{{value}}",
        "min": "-50",
        "max": "50",
        "colors": [
            "#479bf5",
            "#49f532",
            "#ff3300"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2410,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcc86c02.c813b",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensación térmica:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2410,
        "y": 120,
        "wires": []
    },
    {
        "id": "72d66be6.a78e94",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura máxima:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2420,
        "y": 160,
        "wires": []
    },
    {
        "id": "a12c4cde.c32c",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura mínima:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2420,
        "y": 200,
        "wires": []
    },
    {
        "id": "9f5aa299.a27e4",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Nubes:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2380,
        "y": 240,
        "wires": []
    },
    {
        "id": "9dd12d13.e7b97",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Cielo:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 280,
        "wires": []
    },
    {
        "id": "5157bb02.56b204",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Velocidad viento:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2410,
        "y": 320,
        "wires": []
    },
    {
        "id": "26fe97d5.c9d088",
        "type": "http request",
        "z": "af39779.ca47c88",
        "name": "Contaminación",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1860,
        "y": 440,
        "wires": [
            [
                "383ae49f.efac3c",
                "efe30324.7c442",
                "ea6a947.0903668",
                "3e1ff9bf.7626f6",
                "b4ce2b09.39f918",
                "a5321793.181658",
                "b15bed99.e578a",
                "cd6ff3f.40b371",
                "d8a2aea5.0dcff",
                "e0091f2e.69d6",
                "78b73429.6ec03c"
            ]
        ]
    },
    {
        "id": "383ae49f.efac3c",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "CO",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.co\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 440,
        "wires": [
            [
                "bb687d4b.9c9a5"
            ]
        ]
    },
    {
        "id": "bb687d4b.9c9a5",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CO:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 440,
        "wires": []
    },
    {
        "id": "7ac3b1f3.a80f9",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NO:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 480,
        "wires": []
    },
    {
        "id": "e2bd6e46.4ac6f",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NO2:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 520,
        "wires": []
    },
    {
        "id": "32bf7956.511646",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "O3:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 560,
        "wires": []
    },
    {
        "id": "64a8bf69.f0d82",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SO2:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 600,
        "wires": []
    },
    {
        "id": "beda9bd1.dc1358",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM2.5:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2380,
        "y": 640,
        "wires": []
    },
    {
        "id": "3f9b07cc.9301b8",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM10:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 680,
        "wires": []
    },
    {
        "id": "424e2986.dd9c38",
        "type": "ui_text",
        "z": "af39779.ca47c88",
        "group": "198ff189.c5300e",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "NH3:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 2370,
        "y": 720,
        "wires": []
    },
    {
        "id": "efe30324.7c442",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NO",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.no\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 480,
        "wires": [
            [
                "7ac3b1f3.a80f9"
            ]
        ]
    },
    {
        "id": "ea6a947.0903668",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NO2",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.no2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 520,
        "wires": [
            [
                "e2bd6e46.4ac6f"
            ]
        ]
    },
    {
        "id": "3e1ff9bf.7626f6",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "O3",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.o3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 560,
        "wires": [
            [
                "32bf7956.511646"
            ]
        ]
    },
    {
        "id": "b4ce2b09.39f918",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "SO2",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.so2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 600,
        "wires": [
            [
                "64a8bf69.f0d82"
            ]
        ]
    },
    {
        "id": "d8a2aea5.0dcff",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "PM2.5",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.pm2_5\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 640,
        "wires": [
            [
                "beda9bd1.dc1358"
            ]
        ]
    },
    {
        "id": "a5321793.181658",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "PM10",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.pm10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 680,
        "wires": [
            [
                "3f9b07cc.9301b8"
            ]
        ]
    },
    {
        "id": "b15bed99.e578a",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "NH3",
        "func": "var x = msg.payload\nmsg.payload = x.list[0].components.nh3\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2150,
        "y": 720,
        "wires": [
            [
                "424e2986.dd9c38"
            ]
        ]
    },
    {
        "id": "8c9cc732.5dd178",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Convert coordenadas a lat y lon",
        "func": "var x = msg.payload;\nmsg.payload = \"http://api.openweathermap.org/data/2.5/air_pollution?lat=\"+x.coord.lat+\"&lon=\"+x.coord.lon+\"&appid=384f2fa075d5417379236dd8ac8cd8c2\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1490,
        "y": 440,
        "wires": [
            [
                "d4d86bd2.69e708"
            ]
        ]
    },
    {
        "id": "d4d86bd2.69e708",
        "type": "change",
        "z": "af39779.ca47c88",
        "name": "Nombre",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1700,
        "y": 440,
        "wires": [
            [
                "26fe97d5.c9d088"
            ]
        ]
    },
    {
        "id": "4728183f.920978",
        "type": "ui_chart",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "198ff189.c5300e",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "Concentraciones",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fbff29",
            "#fdc221",
            "#e42301",
            "#fb2dc4",
            "#df38f5",
            "#8d38f5",
            "#0721e9",
            "#3cd5fb",
            "#4df587"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 2410,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6ff3f.40b371",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Gráfica circular",
        "func": "var x = msg.payload;\nmsg.topic=\"CO\";\nmsg.payload=x.list[0].components.co;\nnode.send(msg);\nmsg.topic=\"NO\";\nmsg.payload=x.list[0].components.no;\nnode.send(msg);\nmsg.topic=\"NO2\";\nmsg.payload=x.list[0].components.no2;\nnode.send(msg);\nmsg.topic=\"O3\";\nmsg.payload=x.list[0].components.o3;\nnode.send(msg);\nmsg.topic=\"SO2\";\nmsg.payload=x.list[0].components.so2;\nnode.send(msg);\nmsg.topic=\"PM2.5\";\nmsg.payload=x.list[0].components.pm2_5;\nnode.send(msg);\nmsg.topic=\"PM10\";\nmsg.payload=x.list[0].components.pm10;\nnode.send(msg);\nmsg.topic=\"NH3\";\nmsg.payload=x.list[0].components.nh3;\nnode.send(msg);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2180,
        "y": 760,
        "wires": [
            [
                "4728183f.920978"
            ]
        ]
    },
    {
        "id": "ac13eb9c.da90c8",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Comparativa CO",
        "func": "var x = msg.payload;\nmsg.topic=\"Ciudad 1\";\nmsg.payload=x.list[0].components.co;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 840,
        "wires": [
            [
                "e550952b.cadb58"
            ]
        ]
    },
    {
        "id": "e550952b.cadb58",
        "type": "ui_chart",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "7139efde.30543",
        "order": 19,
        "width": 0,
        "height": 0,
        "label": "Comparativa CO",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 2410,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ffb2bf04.73019",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Comparativa O3",
        "func": "var x = msg.payload;\nmsg.topic=\"Ciudad 1\";\nmsg.payload=x.list[0].components.o3;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 880,
        "y": 880,
        "wires": [
            [
                "434804b1.67a24c"
            ]
        ]
    },
    {
        "id": "434804b1.67a24c",
        "type": "ui_chart",
        "z": "af39779.ca47c88",
        "name": "",
        "group": "7139efde.30543",
        "order": 19,
        "width": 0,
        "height": 0,
        "label": "Comparativa O3",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 2400,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "e0091f2e.69d6",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Comparativa CO",
        "func": "var x = msg.payload;\nmsg.topic=\"Ciudad 2\";\nmsg.payload=x.list[0].components.co;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2190,
        "y": 840,
        "wires": [
            [
                "e550952b.cadb58"
            ]
        ]
    },
    {
        "id": "78b73429.6ec03c",
        "type": "function",
        "z": "af39779.ca47c88",
        "name": "Comparativa O3",
        "func": "var x = msg.payload;\nmsg.topic=\"Ciudad 2\";\nmsg.payload=x.list[0].components.o3;\nnode.send(msg);",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 2180,
        "y": 880,
        "wires": [
            [
                "434804b1.67a24c"
            ]
        ]
    },
    {
        "id": "b31b84bd.cafb88",
        "type": "http request",
        "z": "af39779.ca47c88",
        "name": "Coordenadas",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/weather?q={{{query}}},ES&appid=384f2fa075d5417379236dd8ac8cd8c2",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "d898ace.a8d095",
                "ae0d6060.83415",
                "a5e0a531.3dd228",
                "ee22c9cb.afefb8",
                "69aa0845.66d8b8",
                "97d0add2.e83b4",
                "2c28175a.58a3d8",
                "56fd64da.4bab9c"
            ]
        ]
    },
    {
        "id": "99bd8601.432ec8",
        "type": "ui_group",
        "name": "Ciudad 1",
        "tab": "30096892.f51ee8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "198ff189.c5300e",
        "type": "ui_group",
        "name": "Ciudad2",
        "tab": "30096892.f51ee8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7139efde.30543",
        "type": "ui_group",
        "name": "Graficas",
        "tab": "30096892.f51ee8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "30096892.f51ee8",
        "type": "ui_tab",
        "name": "Extensión OpenWeather",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]